<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/178.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="protait" src="/img/amma and nanna.jpg">   
        <p>Created by {{name}}</p>
        </div>
        {{>footer}}  
    </body>
</html>